<div class="jumbotron">
  <div class="container">
    <%#*<img src="http://alertas.directoriolegislativo.org/wp-content/uploads/2013/01/noimage.png"%> 
         <%#*style="width: 140px; height: 140px;" accesskey="" alt="..." class="img-circle">%>
    <h3><%= @membership.organization.name %></h3>
    <h5><%= @membership.organization.description %></h5>
  </div>
  <div class="container">
    
  </div>
</div>
