<div class="jumbotron">
  <h2>"Evita no perder una hora y no tendras que estar buscandola todo el dia"</h2>
        <p class="lead">Con ClockWork controla tus horarios de una manera  rápida, segura, exacta y móvil jamas te preocupes en donde se encuentra tu personal ni a que hora llegue  a sus diferentes destinos.</p>
        <p><a class="btn btn-lg btn-success" href="#">
            <span class="glyphicon glyphicon-play"></span> Ver Video</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Horario</h4>
          <p>Maneja diferentes horarios para un mismo empleado,
            cada uno con un perfil asignado y con especificaciones personales…</p>

          <%#*<h4>Subheading</h4>%>
          <%#*<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>%>

          <h4>Móvil</h4>
          <p>Has Chek-In y Check-Out desde tu celular, utilizando la geolocalización en los rangos que tu determines…</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>